.remove-btn {
    display: block;
    height: 30px;
    margin: 0 0 0 auto;
    background-color: #ffd700;
    border: none;
    font-size: 16px;
    font-weight: 500;
    transition: background 0.3s ease-in-out;

    &:hover {
        background: #daa520;
    }
}