.App {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 15px 0;
    color: #ffffff;

    h1 {
        margin-bottom: 30px;
        text-transform: capitalize;
        text-align: center;
        color: #ffffff;
    }
}