.App {
    width: 600px;
    margin: 0 auto;
    padding-top: 50px;
    color: #ffffff;

    h1 {
        margin-bottom: 30px;
        text-transform: capitalize;
        text-align: center;
        color: #ffffff;
    }
}